@model PoolStudio.WEB.Models.Item

@{
    ViewData["Title"] = "Details";
}

<style>
    #details-body {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        max-width: initial;
        width: 70%;
    }

    #center-fields {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div id="details-body">

    <h1>Detalles</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Producto
                @*@Html.DisplayNameFor(model => model.ImageName)*@
            </dt>
            <dd class="col-sm-10">
                <img src="@("~/Imagenes/" + Model.ImageName)" asp-append-version="true" width="150px;" height="150px;" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Clasification)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Clasification.ItemType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ItemName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ItemName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Modelo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Comment)
            </dd>
        </dl>
    </div>
    <div>
        @*<a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |*@
        <a class="btn btn-dark" asp-action="Index">
            <i class="fas fa-arrow-left"></i>
            Regresar
        </a> |

        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.ItemId">
            <i class="fas fa-trash-alt"></i>
            Eliminar
        </a>

    </div>

</div>