@model IEnumerable<PoolStudio.WEB.Models.Clasification>

@{
    ViewData["Title"] = "Index";
}


<div style="margin-left:70px; margin-top:220px;" class="row">
    <h2> Categorías  <a class="btn btn-outline-primary" asp-action="Create"> Añadir</a></h2>


    <table style="margin-left:70px; margin-top:30px;" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemType)
                    </td>
                    <td>
                        <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.ClasificationId">Editar</a> |
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ClasificationId">Detalles</a> |
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ClasificationId">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>